@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #d6d7da;
}
.container{
    display: flex;
    position: relative;
    
}
 .leftsidebar{
    background: #ffffff;
    position: fixed;
    left: 0;
    width: 30%;
    height: 84%;
    margin: 70px;
    border-radius: 40px 0 0 40px;
}
 .rightsidebar{
    background: #f6f6f8;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 30%;
    width: 60%;
    height: 84%;
    margin: 70px;
    border-radius: 0px 40px 40px 0px;
}

.container header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 100px;
    top: 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.container header img{
    width: 50px;
    height: 50px;
}

.container header h1{
    margin-left: 5px;
}
    .mainimage{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 80px;
    }
  .mainimage img{
    width: 180px;
    transition: 1s ease;
  }
    
    .mainimage img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    }

  .temp{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 90px;
    font-size: 60px;
  }
  .daytime{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    font-size: 20px;
  }

  .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 115px;
    font-size: 10px;
    padding: 10px;
    width:90%;
    left: 25px;
  }
  .location{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 110px;
    font-size: 20px;
    padding: 10px;
    margin-top: 30px;
    background:#f6f6f8;
    border-radius: 40px;
    height: 150px;
    left: 25px;
    width: 90%;
    height: 130px;
    background-image: url("images/rainlocation.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    color: white;
    font-weight: bold;
    transform: scale(1);
    transition: all 0.3s;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  }
  .location:hover {
    transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .time{
    opacity: 50%;
    margin-left: 10px;
  }
  .cloudy{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1e0e4;
    border-radius: 20px;
    padding: 10px;
    width: 33%;
    height: 50px;
  }
  .cloudy img{
    width: 25px;
    height: 25px;
  }
  .cloudy h2{
    font-size: 12px;
    padding-left: 8px;
  }
  .wind{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    background: #f1e0e4;
    border-radius: 20px;
    padding: 14px;
    width: 33%;
    height: 50px;
  }
  .wind h2{
    font-size: 12px;
    padding-left: 5px;
    opacity: 70%;
  }
  .humidity{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    background: #f1e0e4;
    border-radius: 20px;
    padding: 14px;
    width: 33%;
    height: 50px;
  }
  .humidity h2{
    font-size: 12px;
    padding-left: 5px;
    opacity: 70%;
  }

  .input[type = "text"] {
    display: block;
    color: rgb(34, 34, 34);
    background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
    box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
    border-color: rgba(7, 4, 14, 0);
    border-radius: 50px;
    block-size: 20px;
    margin: 7px auto;
    padding: 18px 15px;
    outline: none;
    text-align: center;
    width: 250px;
    transition: 0.5s;
    position: relative;
    top:20px
  }
  
  .input[type = "text"]:hover {
    width: 280px;
  }
  
  .input[type = "text"]:focus {
    width: 340px;
  }

  .loader {
    position: relative;
    z-index: 999;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
    display: none;
   }
   
   .loader:before, .loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
   }
   
   .loader:before {
    animation: before8 2s infinite;
   }
   
   .loader:after {
    animation: after6 2s infinite;
   }
   
   @keyframes before8 {
    0% {
     width: 0.5em;
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    35% {
     width: 2.5em;
     box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
    }
   
    70% {
     width: 0.5em;
     box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
    }
   
    100% {
     box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
    }
   }
   
   @keyframes after6 {
    0% {
     height: 0.5em;
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   
    35% {
     height: 2.5em;
     box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
    }
   
    70% {
     height: 0.5em;
     box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
    }
   
    100% {
     box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
    }
   }
   
   .loader {
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(28% - 1.25em);
   }

  .forecastname{
    background: #fff;
    height: 38px;
    width: 130px;
    display: flex;
    z-index: 999;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px;
    top:-33px;
    left: -39.3%;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
    font-size: 12px;
  }
  .rightcontainer {
    position: relative;
    left: 48px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 90%;
    top:-25px;
  }

  section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#8360c3, #2ebf91);
    clip-path: circle(30% at right 70%);
    border-radius: 40px;
  }
  
  section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#EFEFBB, #D4D3DD);
    clip-path: circle(20% at 10% 10%);
  }

  
  .rightcontainer .card {
    position: relative;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
  }
  
  .rightcontainer .card .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
  }
  
  .rightcontainer .card:hover .content {
    transform: translateY(-40px);
  }
  
  .rightcontainer .card .content .imgBx {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
  }
  
  .rightcontainer .card .content .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .rightcontainer .card .content .contentBx h3 {
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin: 15px 0 10px;
    line-height: 1.1em;
  }
  
  .rightcontainer .card .content .contentBx h3 span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
  }
  .rightcontainer .card .content .contentBx h3 span div{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
  }
  
  .rightcontainer .card .sci {
    position: absolute;
    bottom: 50px;
    display: flex;
  }

  .rightcontainer .card .content .contentBx span {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
  }
  
  .rightcontainer .card .sci li {
    list-style: none;
    margin: 0 11px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
  }
  
  .rightcontainer .card:hover .sci li {
    transform: translateY(40px);
    opacity: 1;
  }
  
  .rightcontainer .card .sci li a {
    color: black;
    font-size: 11px;
  }

  .todaysdataname{
    background: #fff;
    height: 38px;
    width: 130px;
    display: flex;
    z-index: 999;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px;
    left: -39.3%;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
    font-size: 12px;
    top:25px
  }
  .todaysdata{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:35px
  }
   
  .todaysdata .todaycard {
    position: relative;
    width: 250px;
    height: 250px;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
  }

  .sunrise {
    font-size: 30px;
    font-weight: bold;
    
    display: flex;
    align-items: center;
  }

  .sunrise span{
    margin-right: 10px;
  }

  .sunrise img{
    width: 32px;
    height: 32px;
  }

  .sunset img{
    width: 32px;
    height: 32px;
  }

  .sunrisetime{
    font-size: 20px;
    font-weight: bold;
    opacity: 60%;
  }

  .sunset {
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
  .sunset span{
    margin-right: 10px;
  }

  .sunsettime{
    font-size: 20px;
    font-weight: bold;
    opacity: 60%;
  }

  .airquality{
    font-size: 20px;
    font-weight: bold;
  }
  .aqivalue{
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .aqistatus{
    font-size: 15px;
  }

  .pressure {
    font-size: 20px;
    
  }
  .pressure span{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .winddirection {
    font-size: 20px;
    margin-top: 20px;
  }
  .winddirection span{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
  }
  .uv {
    font-size: 20px;
    margin-top: 20px;
  }
  .uv span{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
  }
  .feelslike {
    font-size: 20px;
    margin-top: 20px;
  }
  .feelslike span{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
  }